*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse #
*.pydevproject
.project
.metadata
bin/**
gen/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# Windows #
Thumbs.db
ehthumbs.db
Desktop.ini
lint.xml
